.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    padding: 0 40px;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}
.inner {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo-icon {
    width: 80px;
    margin: 0 16px;
}
