.wrapper {
    // display: flex;
    // align-items: center;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
}

.menu-item {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--blur);
    p {
        margin-bottom: 0;
    }
    &:hover {
        color: var(--primary);
    }
}
.noProduct {
    display: flex;
    padding: 10px;
}
.icon {
    position: relative;
    color: var(--blur);
    font-size: 2.2rem;
    padding-right: 6px;
    &:hover {
        color: var(--primary);
    }
}
